# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x
    - name: Restore
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Publish
      run: dotnet publish --configuration Release --verbosity minimal
    - name: Amend-Base-Tag
      run: sed -i 's/<base href="\/" \/>/<base href="\/Intercom/\/" \/>/g' $GITHUB_WORKSPACE/bin/Release/net7.0/publish/wwwroot/index.html
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      if: github.ref == 'refs/heads/main'
      with:
        personal_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        user_name: kibblewhite
        user_email: kibblewhite@live.com
        publish_branch: gh-pages
        publish_dir: bin/Release/net7.0/publish/wwwroot
        destination_dir: ./
        allow_empty_commit: false
        keep_files: false
        force_orphan: true
        enable_jekyll: false
